{% extends 'base.html.twig' %}

{% block title %}New ingredient{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
    <h3>Ajout des ingrédients</h1>
        <a class="btn custom-btn-add" href="{{ path('app_back_recipe_index') }}">Retour aux recettes</a>
    </div>
    <div class="mt-2">
        {{ include('back/content/_form.html.twig') }}
    </div>
{% endblock %}
