{% extends 'base.html.twig' %}

{% block title %}Modification : {{ ingredient.name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h3>Modification : {{ ingredient.name }}</h3>
        <a class="btn custom-btn-add" href="{{ path('app_back_ingredient_index') }}">Liste des ingrédients</a>
    </div>
    <div class="mt-2">
        {{ include('back/ingredient/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}