{% extends 'base.html.twig' %}

{% block title %}Nouveau user{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h3>Créer un nouveau user</h3>
        <a class="btn custom-btn-add" href="{{ path('app_back_user_index') }}">back to list</a>
    </div>
    <div class="mt-2">
        {{ include('back/user/_form.html.twig') }}
    </div>
{% endblock %}