{% extends 'base.html.twig' %}

{% block title %}Seasonly backoffice{% endblock %}

{% block body %}
    <div class="home-page text-center">
        <h1>Bienvenue sur le backoffice de Seasonly</h1>
    </div>
{% endblock %}